galaxy_info:
  role_name: {{ hm_util_rolecreator__role_name_short }}
  author: {{ hm_util_rolecreator__author_name }}
  description: {{ hm_util_rolecreator__role_description }}
  license: MIT
  min_ansible_version: 2.5
  github_branch: master
  platforms:
    - name: Debian
      versions:
        - all
  galaxy_tags:
    - tag1
    - tag2

dependencies: []
